### SQLITE

When we say “built-in”, it means that you don’t even need to run ```pip install``` to acquire the library. Simply import it by:

In [1]:
import sqlite3 as sl

#### Create a connection to DB

In [2]:
con = sl.connect('my-test.db')

Running the above line of code creates the database and connects it with empty database. If the database is already created the same line connects it the existing database.

#### Let's Create a Table

In [3]:
with con:
    con.execute("""
        CREATE TABLE STUDENT(
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            name TEXT,
            age  INTEGER
        );
    """)

In this STUDENT table, we added three columns. As you can see, SQLite is indeed light-weight, but it supports all the basic features of a regular RDBMS should have, such as the data type, nullable, primary key and auto-increment.

#### Insert Records

We can insert multiple entries in one go. SQLite in Python can achieve this easily.

In [4]:
sql = 'INSERT INTO STUDENT (id, name, age) values(?, ?, ?)'
data = [
    (1, 'Alice', 21),
    (2, 'Bob', 22),
    (3, 'Chris', 23)
]

We are using ```?``` as placeholder.

In [5]:
with con:
    con.executemany(sql,data)

#### Query the Table

In [6]:
with con:
    data = con.execute("SELECT * FROM STUDENT WHERE age <=22")
    for i in data:
        print(i)

(1, 'Alice', 21)
(2, 'Bob', 22)

#### Read as DataFrame

We can also read a table from an SQLite DB into a Pandas data frame, or vice versa. This allows us to even more easily to interact with our light-weight relational database.

In [7]:
import pandas as pd
con = sl.connect("my-test.db")
df = pd.read_sql_query('SELECT * from STUDENT',con)

In [8]:
df.head()

   id   name  age
0   1  Alice   21
1   2    Bob   22
2   3  Chris   23

```sqlite3```  also supports updating and deleting but I think you would try it yourself after this.

You may notice that SQLite doesn’t have authentication, that’s it designed behaviour as everything needs to be light-weight.